body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;

								/*NAWIGACJA*/
}
header
{
	position: sticky;
	top: 0;
	left: 0;
	padding: 0 50px;
	width: 100%;
	box-sizing: border-box;

}
.nawigacja
{
	background: green;
}

header .logo
{
	color: #000;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: left;
	font-weight: bold;
	padding-bottom: 1em;
}

header nav
{
	float: right;
		background: white;
}
header nav ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li
{
	list-style: none;
}
header nav ul li a
{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	text-decoration: none;
	padding-top: 0.5em;
	display:block;
	color: #000;
	font-family: 'Rajdhani semibold', sans-serif;
	font-size: 1.3em;
	color: #676767;
}
header nav ul li a div:hover,
header nav ul li a.active div

{
/*	color: #fff;
	background: #333;*/
	height: 1.8em;
	border-bottom: 0.14em solid #fe7f00;
	padding: 1 20px
}
.menu-toggle
{
	color: #fe7f00;
	float:right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
	
}


h1
{
  font-family: 'Rajdhani semibold', sans-serif;
}
h2
{
  font-family: 'Rajdhani semibold', sans-serif;

}
p
{
  font-family: 'Rajdhani semibold', sans-serif;
}
.otwarcieh1
{
	color:#676767;
	font-size: 2em;
	margin-top: -0.5em;
	text-align: center;
}

.potrzebah1
{
	color:#676767;
	font-size: 1.5em;
	margin-top: -0.3em;
	text-align: center;
}

.underline2
{
/*	position: absolute; */
	border-bottom: 0.1em solid #676767;
}


.underline
{
/*	position: absolute; */
	border-bottom: 0.1em solid #fe7f00;
}

/*.szary2
{
	color:#676767;
	font-size: 1em;
	text-align: center;
}
*/

	/*reszta*/	

.cenna {
  display: grid;
  grid-template-columns: 1fr 25% 1fr 25% 1fr 25% 1fr;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.klocek
{
	background-color: yellow;
	grid-area: 1/2/4/6;
}

.grid-container {
  
margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 25% 1fr 25% 1fr 25% 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
/*  background-color: #fe7f00;*/
  padding: 10px;
  grid-template-rows: 5em 5em 20em; 5em 20em 5em 20em 5em 20em 20em;
/*  opacity: 0.5;*/
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding:20px 0;
  font-size: 30px;
}

.grid-container-strony {
	display: none;
}


.grid-container-strony-active {
  
/*margin-top: -10%;*/
  display: grid;
  grid-template-columns: 1fr 25% 1fr 25% 1fr 25% 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
/*  background-color: #fe7f00;*/
  padding: 10px;
  grid-template-rows: 5em 20em;
/*  opacity: 0.5;*/
}
.stronah1
{
	color:#676767;
	font-size: 3em;
	margin-top: -0.3em;
	text-align: center;
}

.Stronajaka h1.stronah1::before{
	content:'';
	width: 1.2em;
	height: 1.1em;
	background-color: #676767;
	display: inline-block;
	background: transparent url('icon/resp.svgz');
	background-size: 1.15em 1.3em;
	margin-right: 0.3em;
}

.jakaplat h1.stronah1::before,
.item24 h1.stronah1::before{
	content:'';
	width: 1.2em;
	height: 1.1em;
	background-color: #676767;
	display: inline-block;
	background: transparent url('icon/telkod.svgz');
	background-size: 1.15em 1.3em;
	margin-right: -0.1em;
	margin-bottom: -0.13em;
}

.webprint h1.stronah1::before{
	content:'';
	width: 1.2em;
	height: 1.1em;
	background-color: #676767;
	display: inline-block;
	background: transparent url('icon/graf.svgz');
	background-size: 1.15em 1.3em;
	margin-right: 0.3em;
		margin-bottom: -0.13em;
}

.item55 h1.stronah1::before{
	content:'';
	width: 1.2em;
	height: 1.1em;
	background-color: #676767;
	display: inline-block;
	background: transparent url('icon/internet.svgz');
	background-size: 1.15em 1.3em;
	margin-right: 0.3em;
		margin-bottom: -0.13em;
}

.item45 h1.stronah1::before{
	content:'';
	width: 1.2em;
	height: 1.1em;
	background-color: #676767;
	display: inline-block;
	background: transparent url('icon/druk.svgz');
	background-size: 1.15em 1.3em;
	margin-right: 0.3em;
		margin-bottom: -0.13em;
}

.grid-container-aplikacje {
	display: none;
}

.grid-container-aplikacje-active {
  
/*margin-top: 10%;*/
  display: grid;
  grid-template-columns: 6.25% 12.5% 1fr 12.5% 1fr 12.5% 1fr 12.5% 1fr 12.5% 1fr 12.5% 6.25%
  grid-gap: 10px;
/*  background-color: #fe7f00;*/
  padding: 10px;
  grid-template-rows: 5em 20em 5em 15em 15em;
  margin-bottom: 10%;
/*  opacity: 0.5;*/
}

.grid-container-graf {
	display: none;
}

.grid-container-graf-active {

  /*margin-top: 10%;*/
  display: grid;
  grid-template-columns: 1fr 25% 1fr 25% 1fr 25% 1fr;
  grid-gap: 10px;
/*  background-color: #fe7f00;*/
  padding: 10px;
  grid-template-rows: 5em 20em 5em 20em 20em 5em 20em;
/*  opacity: 0.5;*/
}

.otwarcie {
  grid-column-start: 1;
  grid-column-end: 8;
}

.potrzeba {
  grid-column-start: 1;
  grid-column-end: 8;
}

.opis1
{
	color:#676767;
	font-size: 1em;
	text-align: center;
}

.opis2
{
	color:#676767;
	font-size: 2em;
	text-align: center;
	margin: -10%;
}

.item3
{
	cursor: pointer;
}

.item5
{
	cursor: pointer;
}

.item7
{
	cursor: pointer;
}

.Stronajaka
{
	grid-column-start: 1;
  	grid-column-end: 8;
	display: grid;
}

.stronwiz
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}

.item12
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}
.item14
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}
.jakaplat
{
	grid-column-start: 1;
  	grid-column-end: 14;
	display: grid;
}
.item18
{
	display: grid;
	cursor: pointer;
	justify-items:center;
	grid-column-start: 2;
 	grid-column-end: 5;
}
.item20
{
	display: grid;
	cursor: pointer;
	justify-items:center;
	grid-column-start: 6;
 	grid-column-end: 9;
}
.item22
{
	display: grid;
	cursor: pointer;
	justify-items:center;
	grid-column-start: 10;
 	grid-column-end: 13;
}
.item24
{
	grid-column-start: 1;
  	grid-column-end: 14;
	display: grid;
}
.item26
{
	display: grid;
	cursor: pointer;
	justify-items:center;
	grid-column-start: 2;
 	grid-column-end: 5;
}
.item28
{
	display: grid;
	cursor: pointer;
	justify-items:center;
	grid-column-start: 6;
 	grid-column-end: 9;
}
.item30
{
	display: grid;
	cursor: pointer;
	justify-items:center;
	grid-column-start: 10;
 	grid-column-end: 13;
}

.item34
{
	display: grid;
	cursor: pointer;
	justify-items:center;
	grid-column-start: 3;
 	grid-column-end: 7;
}

.item36
{
	display: grid;
	cursor: pointer;
	justify-items:center;
	grid-column-start: 8;
 	grid-column-end: 11;
}

.webprint
{
	grid-column-start: 1;
  	grid-column-end: 8;
	display: grid;
}

.item39
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}

.item41
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}

.item43
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}

.item45
{
	display: none;
}

.item45-active
{
	grid-column-start: 1;
  	grid-column-end: 8;
	display: grid;
	justify-items:center;
}

.item46
{
	display: none;
}

.item46-active
{
	display: grid;
}

.item47
{
	display: none;
}

.item47-active
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}

.item48
{
	display: none;
}

.item48-active
{
	display: grid;
}

.item49
{
	display: none;
}

.item49-active
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}

.item50
{
	display: none;
}

.item50-active
{
	display: grid;
}

.item51
{
	display: none;
}

.item51-active
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}

.item52
{
	display: none;
}

.item52-active
{
	display: grid;
}

.item53
{
	display: none;
}

.item53-active
{
	grid-column-start: 4;
  	grid-column-end: 5;
	display: grid;
	justify-items:center;
	cursor: pointer;
}

.item54
{
	display: none;
}

.item54-active
{
	display: grid;
}

.item55
{
	display: none;
}

.item55-active
{
	grid-column-start: 1;
  	grid-column-end: 8;
	display: grid;
	justify-items:center;
}

.item56
{
	display: none;
}

.item56-active
{
	display: grid;
}

.item57
{
	display: none;
}

.item57-active
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}

.item58
{
	display: none;
}

.item58-active
{
	display: grid;
}

.item59
{
	display: none;
}

.item59-active
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}

.item60
{
	display: none;
}

.item60-active
{
	display: grid;
}

.item61
{
	display: none;
}

.item61-active
{
	display: grid;
	cursor: pointer;
	justify-items:center;
}

/*.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}*/






								/*NAWIGACJA*/

@media (max-width: 750px) /*750*//*991*/
{
	header
	{
		padding: 0 20px;
	}
	header img.logo
	{

	height: 30px;
	width: auto;
	line-height: 10%;
	}
	.menu-toggle
	{
		display: block;
	}

	header nav
	{
		/*display: none;*/
		position: absolute;
		width: 100%;
		height: calc(100vh = 50px);
		background: #333;
		top: 50px;
		left: 0;
		transition: 0.5%;
		z-index: 1;
	}
	header nav ul
	{
		display: none;
		text-align: center;
	}
	header nav ul.active
	{
		display: block;
	}
	
	header nav ul li a
	{
		color: #fff;
		border-bottom:  1px solid rgba(0,0,0,.2)

	}
	header nav ul li a:hover,
	header nav ul li a.active
	{
	color: #fff;
	background: #fe7f00;
	}
	

}
