body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header
{
	position: sticky;
	background-color: white; /*!important;*/
	top: 0;
	left: 0;
	padding: 0 50px;
	width: 100%;
/*	height: auto;*/
	box-sizing: border-box;
	z-index: 10;
}
.nawigacja
{
/*	background-color: green;*/ /*!important;*/
	z-index: 11;
	height: 4em;
}

header .logo
{
	color: #000;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: left;
	font-weight: bold;
	padding-bottom: 1em;
}

header nav
{
	float: right;
	background: white;
}
header nav ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li
{
	list-style: none;

}
header nav ul li a
{
	height: 50px;
	line-height: 50px;
/*	padding: 0 20px;*/
	margin: 0 20px;
	text-decoration: none;
	padding-top: 0.5em;
	display:block;
	color: #000;
	font-family: 'Rajdhani semibold', sans-serif;
	font-size: 1.3em;
	color: #676767;
}
header nav ul li a:hover,
header nav ul li a.active

{
/*	color: #fff;
	background: #333;*/
	height: 1.8em;
	border-bottom: 0.14em solid #fe7f00;
	padding: 1 20px;
	width: -webkit-min-content;


}

.nav hr {
    height: 0.4rem;
    margin: 0;
    background: #3ca5c3;
    border: none;
    transition: .3s ease-in-out;
}

.menu-toggle
{
	color: #fe7f00;
	float:right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
	
}
	.container 
	{
 	 width: 100%;
 	 height: auto;
 	 margin-top: -4%;
 	 /*margin-bottom: 10px;*/
	}

div.bobo
{	
	padding-top: 5em;
	position: relative;
	margin-top: -50%;
	margin-left: 55%
}
span.bobo2
{
	display: none;
}
.cross
	{	
	text-decoration: line-through;
	text-decoration-color: #fe7f00;
	width: 1em;
	margin: 0;
	padding: 0;
	}

h1
{
  font-family: 'Rajdhani semibold', sans-serif;
}
h2
{
  font-family: 'Rajdhani semibold', sans-serif;
}
p
{
  font-family: 'Rajdhani semibold', sans-serif;
}


div.bobo h1
{
	width: 10em;
	height: 1em;
	color: #fe7f00;
/*	background-color: #eee;*/
	text-align: left;
	display:table-cell;
    vertical-align:middle;
    font-size: 4em;
}
.szary
	{
		color:#676767;
	}
div.page-section
{
	margin-top: 30%;
/*	display: flex; */
/*	margin-bottom: : 10%;*/
}

.szary2
{
	color:#676767;
	font-size: 3em;
	text-align: center;

}

div.flex-container
{
	display: flex;
	flex-direction: row;
	text-align: center;
}


@media (min-width: 1180px)
{
	div.batton
	{
    margin-top: 2.4em;
    font-family: 'Rajdhani semibold', sans-serif;
}

a.button {
    background-color: #fe7f00;
    border: none;
    border-radius: 0.2em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.9em;
    padding: 0.5em 1.8em;
    cursor: pointer;
/*    padding-top: 1em;*/
	position: relative;
/*	margin-top: -30%;*/
	margin-left: 60%
}
#cel
{
	padding-right: 3em;
	padding-left: 3em;
}
}

@media (max-width: 1180px)
 {
 	div.bobo
{	
	padding-top: 5em;
	position: relative;
	margin-top: -50%;
	margin-left: 48%
}
 	div h1
 	{
	width: 10em;
	height: 1em;
	color: #fe7f00;
/*	background-color: #eee;*/
	text-align: left;
	display:table-cell;
    vertical-align:middle;
    font-family: 'Rajdhani semibold', sans-serif;
    font-size: 4em;
	}
		div.batton
	{
    margin-top: 2.4em;
    font-family: 'Rajdhani semibold', sans-serif;
	}

	a.button {
    background-color: #fe7f00;
    border: none;
    border-radius: 0.2em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.9em;
    padding: 0.5em 1.8em;
    cursor: pointer;
/*    padding-top: 1em;*/
	position: relative;
/*	margin-top: -30%;*/
	margin-left: 55%

}
/*#cel
{
	padding-right: 3em;
	padding-left: 3em;
}*/
}

@media (max-width: 1070px)
{
 	div.bobo
	{	
	padding-top: 5em;
	position: relative;
	margin-top: -58%;
	margin-left: 48%;
	}
		div.batton
	{
    margin-top: 2.4em;
    font-family: 'Rajdhani semibold', sans-serif;
	}

	a.button {
    background-color: #fe7f00;
    border: none;
    border-radius: 0.2em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.9em;
    padding: 0.5em 1.8em;
    cursor: pointer;
	position: relative;
	margin-left: 55%;
	}

		.szary2
{
	color:#676767;
/*	color: yellow;*/
	font-size: 3em;
	/*text-align: center;*/
	margin-bottom: 1em;
	justify-content: center;
}


}
@media (max-width: 955px) 
{
 	div.bobo
	{	
	display: relative;
	padding-top: 5em;
	position: relative;
	margin-top: -66%;
	margin-left: 40%;
	}
	a.button 
	{
	margin-left: 48%;
	}
}

@media (max-width: 750px) /*750*//*991*/
{
	header
	{
		padding: 0 20px;
	}
	header img.logo
	{

	height: 30px;
	width: auto;
	line-height: 10%;
	}
	.menu-toggle
	{
		display: block;
	}

	header nav
	{
		/*display: none;*/
		position: absolute;
		width: 100%;
		height: calc(100vh = 50px);
		background: #333;
		top: 50px;
		left: 0;
		transition: 0.5%;
		z-index: 1;
	}
	header nav ul
	{
		display: none;
		text-align: center;
	}
	header nav ul.active
	{
		display: block;
	}
	
	header nav ul li a
	{
		color: #fff;
		border-bottom:  1px solid rgba(0,0,0,.2)

	}
	header nav ul li a:hover,
	header nav ul li a.active
	{
	color: #fff;
	background: #fe7f00;
	}
	
		.container 
	{
 	 width: 100%;
 	 height: auto;
 	}
 	div.bobo
 	{
 		display: none;
 	}
 	span.bobo2
	{
	background-color: white;	
	display: block;
	position: relative;
	margin-top: 0;
	margin-left: 0;
	padding-left: 1em;
	font-size: 1.2em;
	text-align: center;
	color: #fe7f00;
    font-family: 'Rajdhani semibold', sans-serif;
	margin-top: 0.5em;
	margin-bottom: -50%;
	z-index: 2;
	}
	span h1 span.szary
	{
		color:#676767;
	}
	div.batton
	{
	display: none;
/*    margin: 4px 2px;*/
    cursor: pointer;
    justify-content: center;
    margin-top: 5%;
    z-index: 1;

	}
	a.button {
    background-color: #fe7f00;
    border-radius: 0.5em;
    color: white;
/*    padding: 1em 3em;*/
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.75em 1.7em;
    font-family: 'Rajdhani semibold', sans-serif;
    margin-left: 0;
   	}

	div.batton2
	{
	display: flex;
/*    margin: 4px 2px;*/
    cursor: pointer;
    justify-content: center;
    margin-top: -3%;
    z-index: 1;

	}
	a.button2 {
    background-color: #fe7f00;
    border-radius: 0.5em;
    color: white;
/*    padding: 1em 3em;*/
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.75em 1.7em;
    font-family: 'Rajdhani semibold', sans-serif;
    margin-left: 0;
   	}

    div.flex-container
{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

div.page-section
{
	margin-top: 60%;
/*	display: flex; */
/*	margin-bottom: : 10%;*/
}

@media (max-width: 450px)
{
	div.batton2
	{
	display: flex;
/*    margin: 4px 2px;*/
    cursor: pointer;
    justify-content: center;
    margin-top: -5%;
    z-index: 4;
    margin-left: 1em;
}

}

/*nav
{	
	width: 100%;
	background: white;
}
ul
{
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
ul li
{
	list-style: none;
	display: inline-block;
	padding: 20px;
}
ul li:hover
{
	background: #fe7f00;
}
ul li a
{
	color: black;
	text-decoration: none;
}*/